<launch>
  <!-- declare arg to be passed in -->
  <arg name="do_remote" default="0" /> 
  <arg name="machine" default="" />
  
  <!-- max gradient for segmenting depth gradient -->
  <arg name="max_grad" default="0.003" />
  
  <!-- if set to run remotely, load remote machine config -->
  <group if="$(arg do_remote)">
    <include file="$(find ni_depth_segmentation)/launch/$(arg machine).machine" />
  </group>
  
  <group if="$(arg do_remote)">
    <node machine="nivision" pkg="ni_depth_segmentation" name="surface_segmentation_and_tracking" type="surface_segmentation_and_tracking_node" output="screen">
      <param name="max_grad" type="double" value="$(arg max_grad)"/>
    </node>
  </group>
  <group unless="$(arg do_remote)">
    <node pkg="ni_depth_segmentation" name="surface_segmentation_and_tracking" type="surface_segmentation_and_tracking_node" output="screen">
      <param name="max_grad" type="double" value="$(arg max_grad)"/>
    </node>
  </group>

</launch>
